{% extends "bboard/basis/base.html" %}
{% block content %}
<div class="container">

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">View product</th>
        </tr>
        </thead>
        <tbody>


{% for category in categories  %}
        <tr>
            <th scope="row">{{ forloop.counter }}
</th>
            <td >{{ category.name}}</td>
            <td>
                <a class="btn btn-outline-secondary btn-block btn-sm" href="{% url 'product_from_category' id=category.id %}">View</a>
            </td>
        </tr>

{% endfor %}


        </tbody>
    </table>


</div>
{% endblock %}