{% extends "bboard/basis/base.html" %}
{% block content %}

  <div class="row mt-5">
    <div class="col-sm-4"><h3 align="center">Categories</h3> <div class="list-group">
  {% for category in categories  %}
       <a href="{% url 'product_from_category' id=category.id %}" class="list-group-item list-group-item-action">{{ category.name}}</a>

{% endfor %}
<a href="{% url 'category' %}" class="list-group-item list-group-item-action">All categories</a>

</div></div>
    <div class="col-sm-8">{% if products|length %}
<a href="{% url 'product_create' %}" class="btn btn-outline-success btn-block btn-sm">Add product</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Amount</th>
                <th scope="col">Price</th>

            </tr>
            </thead>

    {% for product in products  %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td > <a href="{% url 'product_detail' id=product.id %}" >{{ product.name}}</a></td>
                <td >{{ product.description}}</td>
                <td >{{ product.amount}}</td>
                <td >{{ product.price}}</td>


            </tr>

    {% endfor %}



            </tbody>
        </table>
    {% else  %}
        <p>No products found in the category. </p>

    {% endif %}</div>

  </div>



{% endblock %}

