{% extends "bboard/basis/base.html" %}
{% block content %}
<div class = "container">
<main class="form-signin">
  <form>

    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

    <div class="form-floating">
      <input type="email" class="form-control mt-3" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control mt-3" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control mt-3" id="Repeat" placeholder="Repeat Password">
      <label for="Repeat">Repeat Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>

  </form>
    <a class="w-100 btn btn-lg btn-primary mt-5" href="{% url 'signin' %}">Sign in</a>
</main>
</div>
{% endblock %}
