{% extends "bboard/basis/base.html" %}
{% block content %}
<div class = "container">
<main class="form-signin">
  <form action="{% url 'signin'%}" method="POST" >
  {% csrf_token %}



    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control mt-3" id="floatingInput" placeholder="name@example.com" name = "email">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control mt-3" id="floatingPassword" placeholder="Password" name = "password">
      <label for="floatingPassword">Password</label>
    </div>

<p>{{login_error}} </p>
    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Sign in</button>

  </form>
  <a class="w-100 btn btn-lg btn-primary mt-5" href="{% url 'registration' %}">Sign up</a>
</main>
</div>
{% endblock %}
