{% extends "bboard/basis/base.html" %}
{% block content %}
<div class="container">

    {% if products|length %}

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Amount</th>
                <th scope="col">Price</th>

            </tr>
            </thead>

    {% for product in products  %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td > <a href="{% url 'product_detail' id=product.id %}" >{{ product.name}}</a></td>
                <td >{{ product.description}}</td>
                <td >{{ product.amount}}</td>
                <td >{{ product.price}}</td>

            </tr>

    {% endfor %}



            </tbody>
        </table>
    {% else  %}
        <p>No products found in the category. </p>

    {% endif %}

</div>
{% endblock %}